 <div class ="col-md-12">
	 <div class ="col-md-6 col-md-offset-3">
	       <div class="panel panel-default">
			<div class="panel-heading">
	      <%= link_to (image_tag @post.image.url(:medium), class:'img-responsive'), post_path(@post) %>
	    </div>
	    <div class="panel-body">
	<h3><%=  @post.caption %></h3>
	</div>
	</div>
</div>
